/* 	Developer: Max Coller 
	Start Date:  04/23/2023 */
	
/* set the height of the body and html to 100%*/
html, body {
  height: 100%;
}

/* Display HTML5 structural elements as blocks */
footer, header, section, nav {
	display: block;
}

/* Style for the nav element */
nav {
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-top: -35px;
	}
	
nav ul {
	background-color: rgb(175,175,175);
    line-height: 2em;
    list-style-type: none;
    padding-left: 0px;
	text-indent: 5px; 
    border-radius: 5px;  
}

nav ul li:hover {
    background-color: rgb(148,51,62);
    border-radius: 5px;
}
        
nav a {
    color: rgb(255,255,0);
    font-weight:bold;
    text-decoration: none;
}
        
/* Style for the section element */
section{
	min-height:90%;
}
        
/* Style for the home page image */
section img#home_page_img{
	width:560px;
	height:400px;
}

/* general image styles */
.img_border{
    padding:5px;
    margin:5px;
    border-style:solid;
    border-color:rgb(175,175,175) rgb(200,200,200);
    background-color:black;
    border-radius: 20px;
}
    
/* style for the h2 inside the section */
section h2{
	font-family: Copperplate,"Copperplate Gothic", serif;
	max-width: 870px;
}    

/* style for the image caption */
section figcaption{
	text-align:center;
	max-width: 870px;
	font-family: Monaco;
}

/* style for the home page title */
header h1{
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 2px 2px 5px rgb(30,144,255);
	font-family: Garamond;
	margin:-10px -10px 20px -10px;
	background-image: linear-gradient(rgb(255,255,255),rgb(30,144,255));
}

/* style for the footer */
footer{
	text-align: center;
	font-size: .75em;
	font-family: Garamond;
	background-color: rgb(200,200,200);
	margin:0px -10px 20px -10px;
}

/* styles for the products table */ 

section table{ 
	border: 2px solid black; 
	border-collapse: collapse;
	width:80%;
} 

section table td,th{ 
	border: 1px solid rgb(175,175,175); 
}

section table tr:nth-child(even) { 
	background-color: rgb(240,248,255); 
} 

section table col.price { 
	background-color: rgb(255,255,224); 
}

section table tr:hover {
	background-color: rgb(176,224,230);
} 

/* style for the form background */
.light_blue_background{
	background-color: rgb(240,248,255);
}

/* style for the form background */
section div.about_us {
	margin-left:220px;
	border: 1px solid rgb(175,175,175);
	padding: 10px; 
	background-color: rgb(240,248,255);
	border-radius:15px;
	max-width:600px;
}

section div p.bolder{
	font-weight:bold;
}




